/* Universal Style */
body{
  font-family: "helvetica", sans-serif;
  font-size: 22px;
  color: rgb(255, 245, 238);
  background-color: black;
  opacity:0.9;
  text-align: center;
}

/* Header */

header{
  position: fixed;
  align-items: center;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span{
  display: inline-block;
  padding: 10px 20px;
}

a {
  color: seashell;
  text-decoration: underline;
}

.logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Main */

/* Mission Section */

#mission{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  padding-top: 70px;
}

.hero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner{
  text-align: center;
  width: 1200px;
  background-color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  height: 105px;
  line-height: 15px;

}

/* Menu Section */
#menu{
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.title{
  height: 80px;
  line-height: 10px;
}

.tea{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item{
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
}

.item img{
  height: 200px;
  width: 300px
}

.item span{
  display: block;
  padding-top: 10px;
  text-align: center;
}

/* Locations Section */
#locations{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 60px;
  align-content: center;
}

.store{
  display: flex;
  justify-content: center;
}

.address{
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 40px;
  line-height: 20px;

}



/* Contact Section */
#contact{
  height: 200px;
  text-align: center;
  line-height: normal;
}


/* Footer Section */
footer{
  text-align: left;
}
